.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board {
  display: flex;
  justify-content: center;
}
