.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    background: #2b2c34;
}

.title {
    display: flex;
    padding: 10px;
    font: 32px Montserrat-Bold, sans-serif;
    color: #fffffe;
    background: #2b2c34 url(../../animatedComponents/LiquidComponent/Liquid.svg) no-repeat 50% 65%;
    background-size: contain;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 5%;
    background: #2b2c34;

    @media screen and (max-width: 720px) {
        width: 100%;
    }

    @media screen and (max-width: 400px) {
        flex-wrap: wrap;
        a,
        button {
            margin: 5px;
        }
    }
}